/* Globel selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Globel selector------Ends----- */

.container{
    margin: auto;
    height: 80vh;
    width: 40%;
    text-align: center;
    border-radius: 2%;
    /* border: 1px solid green; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    
}
.display{
    width: auto;
    height: 10vh;
    background-color: indigo;
}
.keys{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.keys p{
    margin: 3%;
    padding: 6%;
    width:5%;
    height:0.5%;
    border:1px solid blue;
    
}