/* Globel selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Globel selector------Ends----- */

.container{
    margin: auto;
    height: 50vh;
    width: 30%;
    text-align: center;
    border-radius: 2%;
    /* border: 1px solid green; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    
}
input{
    font-size: 50px;
    width: 100%;
}
button{
    width: 84px;
    height: 66px;
}
table{
    margin: auto;
}